.container {
    max-width: calc(100% - 48px);
    min-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .responsive-table {
    li {
      border-radius: 3px;
      display: flex;
      transition: .1 ease-in;
    }
    .table-header {
      font-size: 13px;
      letter-spacing: 0.03em;
      color: #82868C;
      padding: 25px 30px;
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 60px);
      .col-0{
        width: 24px;
            margin-right: 8px;
      }
      .col-1 {
        flex-basis: 10%;
            margin-right: 8px;
      }
      .col-2 {
        flex-basis: 20%;
            margin-right: 8px;
      }
      .col-3 {
        flex-basis: 15%;
            margin-right: 8px;
      }
      .col{
          text-align: left;
          display: flex;
          align-items: center;
          .col_icon{
            color: #CFCFCF;
            margin-left: 8px;
            cursor: pointer;
            &_active{
              color: #82868C;
            }
          }
      }
    }
    
    .table-row{
      display: flex;
      flex-direction: column;
      height: 68px;
      overflow: hidden;
      .height{
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        max-height: 69px;
        width: calc(100% - 60px);
        &:hover{
          background: #E5E5E5;
          cursor: pointer;
        }
        .col-0{
          width: 24px;
              margin-right: 8px;
      }
      .col-1 {
        flex-basis: 10%;
            margin-right: 8px;
      }
      .col-2 {
        flex-basis: 20%;
            margin-right: 8px;
      }
      .col-3 {
        flex-basis: 15%;
            margin-right: 8px;
      }
      .col{
          text-align: left;
      }
      }
    }
    .active{
      background: #F9F9F9;
      min-height: 1200px !important;
      margin-bottom: 12px;
      height: auto;
      .height{
        border-bottom: 1px dashed #E9E9E9 ;
        background: #F9F9F9 !important;
      }
    }
    

    
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }


  .more{
    padding: 12px 52px;
  }
  .more_container{
    display: flex;
    max-width: 1048px;
    flex-wrap: wrap;

  }
  .more-elem{
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 12px;
    height: 38px;
    align-items: center;
  }
  .elem_title{
    color: #7C7C7C;
    width: 220px;
    text-align: left;
    font-size: 13px;
  }
  .elem_content{
    color: #141414;
    width: 270px;
    text-align: left;
    font-size: 13px;
  }

.disc{
  width: 100%;
  text-align: start;
  padding: 12px;
}
.disc_title{
  margin-bottom: 28px;
  color: #7C7C7C;
  font-size: 13px;
line-height: 18px;
}
.disc_text{
  color: #141414;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  display: flex;
}
.act_btn{
  padding: 10px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(221, 222, 222, 0.5);
  border-radius: 8px;
  cursor: pointer;
}
.btn_wrap{
  position: relative;
  cursor: pointer;
}
.file-upload{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}
.act_btn_red{
  padding: 10px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(221, 222, 222, 0.5);
  border-radius: 8px;
  cursor: pointer;
  background: #F9F9F9;
  box-shadow: inset 0px -1px 0px #E9E9E9;
  border: 1px solid red;
  margin-left: 48px;
  &:hover{
    background: #FB2C2C;
    box-shadow: inset 0px -1px 0px #ff0000;
    color: #E5E5E5;
  }
}
.act_btn_icon{
  margin-right: 24px;
}

.page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 36px 0;
}
.show-page{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(221, 222, 222, 0.5);
  border-radius: 38px;
  padding: 0 38px;
  height: 48px;
  color: #2A2E37;
  align-items: center;
}
.show-page_title{
  margin-right: 24px;
}
.show-page_pages{
  height: 100%;
}
.page_btn{
  border-radius: 0px;
  height: 100%;
  width: 48px;
  background-color: #fff;
  cursor: pointer;
  &_active{
    background: #455f8a;
  }
  &:hover{
    background: #E3E6EB;
  }
}
.page_btn_active{
  background: #E3E6EB;
}

.pages_btn{
  background: #E3E6EB;
  border-radius: 30px;
  margin: 0 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pages_num{
  margin: 0 8px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  &:hover{
    background: #E3E6EB;
  }
  &_active{
    background: #E3E6EB;
  }
}
.full_width{
  width: 100%;
  justify-content: flex-start;

  .elem_title{
    margin-right: 10px;
  }
}